##################################
# IntelliJ / IDE
##################################
.idea/
*.iml
out/

##################################
# Java / Maven / Spring Boot
##################################
backend/target/
*.log

##################################
# Node / Angular
##################################
frontend/node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log*
yarn-error.log*

##################################
# Docker
##################################
**/postgres_data/
**/.env

##################################
# OS
##################################
.DS_Store
Thumbs.db

