.btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-primary:hover {
  background: var(--primary-dark);
}

.btn-primary-dark {
  background: var(--primary-dark);
  color: white;
}

.btn-primary-dark:hover {
  background: var(--secondary);
  color: white;
}

.btn-danger:hover {
  background: var(--danger);

}