<div class="layout">

  <!-- Liste des collectes -->
  <ul class="list">
    <li class="list-item-selectionnable"
      *ngFor="let c of collectes"
      [class.active]="c === selectedCollecte"
      (click)="selectCollecte(c)">
      {{ c.date }} – {{ c.association }}
    </li>
  </ul>

  <!-- Affichage des collectes si une est sélectionnée -->
  <div class="collecte-details" *ngIf="selectedCollecte">
    <h3>Détails</h3>

    <p><strong>Date:</strong> {{ selectedCollecte.date }}</p>
    <p><strong>Association:</strong> {{ selectedCollecte.association }}</p>

    <ul>
      <li *ngFor="let v of selectedCollecte.indicatorValuesDTO">
        {{ v.indicatorName }} : {{ v.value }} {{ v.indicatorUnit }}
      </li>
    </ul>
  </div>

</div>
