.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;

  button {
    padding: 0.6rem 1.2rem;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;

    &.active {
      background: var(--primary-dark);
      color: white;
    }
  }
}
